.guideImage
{
    border-collapse: separate;
    border-spacing: 30px;
}

.guideText
{
    display: flex;
    align-items: flex-start;
    margin-left: 100px;
    font-size: larger;
    font-weight: bolder;
    line-height: 50px;
}