.auth
{
    display: flex;
    justify-content: space-between;
}

.timer
{
    display: flex;
    justify-content: space-between;
}

.auth div
{
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.auth button
{
    width: 70%;
}

.timer div
{
    width: 30%;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}

.timer button
{
    width: 70%;
}

.registerText
{
    font-size: large;
    font-weight: bolder;
}

.button_box
{
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.register_box
{
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bolder;
    background-color:  #4c8bde !important;
    color: whitesmoke !important;
    margin: 0px 300px;
}

.registerBtn {
    border: none;
    display: inline-block;
    padding: 5px 0;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bolder;
}

.error
{
    font-size: 12px;
    height: 20px;
    color:red;
    font-weight: 700;
}